/* Body styles */
body {
  background-color: #4AC8C8;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

/* Form styles */
form {
  background-color: #F6D6CF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #333;
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}

label {
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

input[type="datetime-local"],
select {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  color: #333;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

button[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
}

/* Result styles */
.result {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.result p {
  font-size: 24px;
  margin-bottom: 10px;
}

.result strong {
  font-size: 36px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}