/* CSS for the Login and Registration Form */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("j.jpg"); /* Default background image */
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s; /* Smooth transition on background image change */
}

h1, h2, .toggle-form-link {
    color: #8e44ad;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.form-container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(234, 247, 239, 0.8); /* Transparent light green background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; /* Smooth transition on background color change */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"],
.input-container select {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
}

.button-container {
    text-align: center;
}

.button-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #8e44ad;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-container input[type="submit"]:hover {
    background-color: #7d3c98; /* Darker shade on hover */
}

.toggle-form-link {
    text-align: center;
    margin-top: 15px;
}

.navbar {
    background-color: #8e44ad;
    padding: 10px;
}

.navbar-home a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect for changing background image */
.form-container:hover {
    background-color: rgba(234, 247, 239, 1); /* Solid light green background on hover */
}
