/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #D1F2EB;
  }
  
  /* Navigation styles */
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-menu li a:hover {
    color: #4AC8C8;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /* Profile section styles */
  .profile-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
  }
  
  .profile-section h2 {
    margin-bottom: 10px;
  }
  
  .profile-section p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .profile-section p strong {
    font-weight: bold;
  }
  
  /* Account section styles */
  .account-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
  }
  
  .account-section h2 {
    margin-bottom: 10px;
  }
  
  .account-section p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .account-section p strong {
    font-weight: bold;
  }
  
  /* Activity section styles */
  .activity-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
  }
  
  .activity-section h2 {
    margin-bottom: 10px;
  }
  
  .activity-section p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .activity-section p strong {
    font-weight: bold;
  }
  
  /* Actions section styles */
  .actions-section {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .actions-section h2 {
    margin-bottom: 10px;
  }
  
  .actions-section button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  .actions-section button:hover {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .navbar-menu {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .actions-section button {
      margin-bottom: 10px;
    }
  }