/* users_dashboard.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  /* Page container styles */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Heading styles */
  h1 {
    color: #333;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  /* Profile section styles */
  .profile-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-section p {
    margin: 10px 0;
  }
  
  .profile-section strong {
    font-weight: bold;
  }
  
  #full-name,
  #email,
  #contact-number,
  #location,
  #vehicle-type,
  #entry-time,
  #exit-time,
  #total-money {
    color: #333;
  }
  
  /* Account section styles */
  .account-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .account-section p {
    margin: 10px 0;
  }
  
  .account-section strong {
    font-weight: bold;
  }
  
  #user-id,
  #role {
    color: #333;
  }
  
  /* Activity section styles */
  .activity-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .activity-section p {
    margin: 10px 0;
  }
  
  .activity-section strong {
    font-weight: bold;
  }
  
  /* Actions section styles */
  .actions-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .actions-section h2 {
    margin-top: 0;
  }
  
  .actions-section button {
    background-color: #ff4b5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .actions-section button:hover {
    background-color: #ff3350;
  }

  /* users_dashboard.css */

nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    display: inline-block;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .navbar-menu li:first-child a {
    margin-left: 0;
  }
  
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .actions-section button {
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  